image: openjdk:11-jdk

# Disable the Gradle daemon for Continuous Integration servers as correctness
# is usually a priority over speed in CI environments. Using a fresh
# runtime for each build is more reliable since the runtime is completely
# isolated from any previous builds.
variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

stages:
  - code-analysis
  - build
  - test

build:
  stage: build
  tags:
    - exec-docker
  script: ./gradlew --build-cache assemble
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - build
      - .gradle

unit-test:
  stage: test
  tags:
    - exec-docker
  script: ./gradlew test --continue
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - build
      - .gradle

pmd:
  stage: code-analysis
  tags:
    - exec-docker
  script: ./gradlew checkstyleMain

checkstyle:
  stage: code-analysis
  tags:
    - exec-docker
  script: ./gradlew pmdMain